* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  @font-face {
    font-family: "montserrat medium";
    src: url("../fonts/Montserrat-Medium.ttf");
  }
  
  .hero {
    height: 100svh;
    background-color: #ccc;
    background-image: url("../img/newBackgroun.png");
    background-size: cover;
    
  }

  #imgPos{
    position: relative;
    left: 120svh;
    top: 33svh;
  }

  .about {
    height: 1000svh;
    background-image: url("../img/newAbout.png");
    background-size: contain ;
    background-repeat: no-repeat;

  }
  
  .about .header {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .about .text {
    /* insira font family aq */
    font-size: 3rem;
    padding: 0.5rem;
    background-color: #e03e41;
    margin: 2rem;
    border-radius: 7px;
    color: white;
    outline: 4px solid black;
    box-shadow: 10px 10px black;
    
  }

  
  .about .container {
    height: 100svh;
    margin: 0 10%;
    display: flex;
    justify-content: space-between;
  }
  
  .about .card {
    margin-top: 10%;
    height: 40%;
    width: 30%;
    background-color: #fad662;
    overflow: hidden;
    border-radius: 7px;
    outline: 4px solid black;
    box-shadow: 10px 10px black;
    position: relative;
    left: 23svh;
    top: 10px;
  }
  
  .about .card .header {
    /* insira font family aq */
    padding: 16px;
    font-size: 1.5rem;
    background-color: #000;
    color: white;
  }
  
  .about p {
    font-family: "montserrat medium";
    font-size: 1.5rem;
    padding: 16px;
  }
  


